@import "tailwindcss";

/* .logo {
    width: 100px;
    height: 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid black;
}
.nav-items > ul {
    list-style: none;
    display: flex;
    font-size: 18px;
}
.nav-items > ul > li {
    margin: 0 10px;
    padding: 10px;
    padding-top: 20px;
    cursor: pointer;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; /* stretch all direct children (<a>) 
}

.res-container > a {
  flex: 0 0 auto;
  margin: 10px;
  display: flex;        /* make <a> a flex container 
  cursor: pointer;         /* restore pointer for click 
  text-decoration: none;   /* no underline 
  color: inherit;
}

.res-card {
  width: 200px;
  background-color: lemonchiffon;
  padding: 10px;
  flex: 1;              /* allow card to stretch fully inside <a> 
  display: flex;
  flex-direction: column;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content:start;
}
.shimmer-card{
    width: 200px;
    height: 350px;
    background-color: #f0f0f0;
    margin:5px;
    padding-left: 10px;
}
.res-logo{
    margin: 5px;
    width: 90%;
}
.res-details{
    padding-left: 10px;
    /* flex-direction: column; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* height: 100%; 
}
.res-card > h2 {
    /* font-size: 20px; 
    margin: 5px 0;
}
.res-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}
.search-container {
    display: flex;
    justify-content: start;
     /* top: 20px, right: 0, bottom: 0, left: 4.5rem 
}
.filter{
    display: flex;
    margin: 20px 10px 0 4.5rem;
    gap: 10px
}
.team-member{
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
} */